@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import "__variables.scss";
@import "__mixins.scss";
@import "__nav.scss";
@import "__news.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}
body {
  background-color: $bg-color;
}
section {
  padding: 0 3%;
}

// @media (max-width: 1200px) {
//   section {
//     padding: 0 50px;
//   }
// }
// @media (max-width: 991px) {
//   section {
//     padding: 0rem 2rem;
//   }
// }
// @media (max-width: 500px) {
//   section {
//     padding: 0rem 0.8rem;
//   }
// }
